@import "vars";

.auth-header {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 146px;
  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__text {
    color: $black;
    font-family: var(--ff);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.16px;
  }
}
