<form class="form">
  <div class="title">NFT Access</div>
  <div class="desc">Please fill your detail to access your account.</div>
  <label class="field">
    <span class="field__text">Email</span>
    <input
      class="field__input"
      type="email"
      placeholder="Enter your email"
      [(ngModel)]="inputText"
      name="inputText"
    />
    <button (click)="inputText = ''">
      <img src="assets/x-icon.svg" alt="X-icon" />
    </button>
  </label>
  <label class="field">
    <span class="field__text">Password</span>
    <input
      class="field__input"
      placeholder="Enter your password"
      [type]="passwordShow ? 'text' : 'password'"
    />
    <button (click)="passwordShow = !passwordShow">
      <img src="assets/hide-icon off.svg" alt="Hide-icon off" />
    </button>
  </label>
  <div class="remember">
    <label class="remember-label">
      <input type="checkbox" class="remember-label__input" />
      <span class="remember-label__check"></span>
      <span class="remember-label__text">Remember me</span>
    </label>
    <a class="remember__a" routerLink="/">Forgot Password?</a>
  </div>
  <button type="submit" class="btn btn_primary">Sign in</button>
  <a
    href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%3Fhl%3Dru&ec=GAlA8wE&hl=en-US&flowName=GlifWebSignIn&flowEntry=AddSession&dsh=S403664016%3A1702064423781496&theme=glif"
    target="_blank"
    class="btn btn_secondary"
  >
    <img src="assets/google.svg" alt="Google" />
    <span>Sign in with Google</span>
  </a>
  <div class="info">
    Don’t have an account? <a class="info__a" routerLink="/">Sign up</a>
  </div>
</form>
