.progress {
  &__bar {
    display: flex;
    align-items: center;
    position: relative;
    background: #333;
    width: 100%;
    height: 10px;
    border-radius: 12px;
    padding: 0 3px;
  }

  &__Line {
    width: 100%;
    height: 5px;
    background: lime;
    border-radius: 12px;
  }
}
