.auth {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  gap: 20px;
}

.auth-info {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

app-auth-form {
  flex-grow: 1;
}

.auth-img {
  max-width: 760px;

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
